body{
	background:orange;

}
.ady{
	text-align: center;
	color:blue;
	font-family:arial;

}
.ed{
	text-align:center;
	color:red;
}
.dy{
	text-align:center;
	color:blue;
}
.ma{
	text-align:center;
	color:purple;
}
.mi{
	text-align:center;
	color:red;
}
.flo{
	text-align:center;
	color:blue;
}
.u{
	text-align:center;
	color:green;
}
.je{
	text-align:center;
	color:pink;
}